/* Styles
* 1. Global styles
* 2. Sections
* 3. Navigation
* 4. Introduction
* 5. About
* 6. Guestbook
* A. Miscellaneous
***************************************/

/* 1. Global styles
***************************************/

body {
    font-family: 'Lora';
    background: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway';
}

p {
    line-height: 1.75;
}

/* 2. Sections
***************************************/

.page-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-heading {
    text-transform: uppercase;
}

.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
}

.section-heading .section-heading-lower {
    display: block;
    font-size: 2rem;
    font-weight: 100;
}

@media (min-width: 992px) {
    .page-section {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .section-heading .section-heading-lower {
        font-size: 3rem;
    }
}

/* 3. Navigation
***************************************/

#mainNav {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Raleway';
}

#mainNav a {
    color: rgba(0, 0, 0, 0.7);
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
    color: #007bff;
}

@media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        font-size: 0.9rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover { }

    #mainNav .navbar-nav .nav-item.active .nav-link:hover { }
}

/* 4. Introduction
***************************************/

.intro {
    position: relative;
}

.intro-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width: 992px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }
    .intro .intro-img img {
        max-height: none;
        height: 500px;
    }
    .intro .intro-text {
        left: 0;
        width: 60%;
        margin-top: 3rem;
        position: absolute;
    }
    .intro .intro-text .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;
    }
}

@media (min-width: 1200px) {
    .intro .intro-img {
        width: 75%;
        float: right;
    }
    .intro .intro-img img {
        height: 540px;
    }
    .intro .intro-text {
        width: 45%;
    }
}

.resume {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 123, 255, 0.85);
}

.resume .resume-inner {
    position: relative;
    padding: 3rem;
    margin: 0.5rem;
    background-color: rgba(255, 255, 255, 1);
}

.resume .resume-inner:before {
    border-radius: 0.5rem;
    content: '';
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 1);
}

#carouselGuestBook {
    padding-left: 50px;
    padding-right: 50px;
}

#carouselGuestBook .carousel-control-prev,
#carouselGuestBook .carousel-control-next {
    width: 50px;
    opacity: 1;
}

#carouselGuestBook .carousel-control-prev-icon,
#carouselGuestBook .carousel-control-next-icon {
    background: none;
    color: #007bff;
}

#carouselGuestBook img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

/* 5. About
***************************************/

.about-heading-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (min-width: 992px) {
    .about-heading .about-heading-img {
        position: relative;
        height: auto;
        max-height: 300px;
        z-index: 0;
    }
    .about-heading .about-heading-content {
        margin-top: -5rem;
        position: relative;
        z-index: 1;
    }
}

/* 6. Guestbook
***************************************/

.guestbook .card {
    border: none;
}

.guestbook .card img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.guestbook .card p {
    line-height: 1.5em;
}

.guestbook .card-columns {
    column-count: 1;
}

@media (min-width: 992px) {
    .guestbook .card-columns {
        column-count: 2;
    }
}

/* A. Miscellaneous
***************************************/

.text-primary {
    /* color: #e6a756 !important; */
}

.bg-primary {
    /* background-color: #e6a756 !important; */
}

.btn {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}

.btn-xl {
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btn-primary {
    /* background-color: #e6a756; */
    /* border-color: #e6a756; */
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    /* background-color: #df902a; */
    /* border-color: #df902a; */
}

.font-weight-light {
    font-weight: 100 !important;
}

.text-faded {
    color: rgba(255, 255, 255, 0.3);
}

.bg-faded {
    background-color: rgba(255, 255, 255, 0.94);
}

.footer {
    background-color: rgb(255, 255, 255);
}

@media (min-width: 992px) {
    .product-item .product-item-title {
        position: relative;
        z-index: 1;
        margin-bottom: -3rem;
    }
    .product-item .product-item-img {
        position: relative;
        z-index: 0;
        max-width: 60vw;
    }
    .product-item .product-item-description {
        position: relative;
        z-index: 1;
        margin-top: -3rem;
        max-width: 50vw;
    }
}
